* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

body {
background-color: #1e2451;
}

a {
    text-decoration: none;
}

.bttn {
    background-color: orange;
    border-radius: 50%;
    padding: 0.5em;
}